TP4/ServiceAnnonce/src/conf/xml-resources/web-services/ServiceAnnonceWS/wsdl/serviceAnnonce.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.apache.org/axis2" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://ws.apache.org/axis2" xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ wsdl.xsd">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://org.apache.axis2/xsd" elementFormDefault="unqualified" attributeFormDefault="unqualified">
      <xs:element type="ns1:TypeAnnonce" name="Annonce"/>
      <xs:complexType name="TypeAnnonce">
        <xs:sequence>
          <xs:element type="xs:int" name="id"/>
          <xs:element type="xs:string" name="contenu"/>
          <xs:element type="xs:string" name="dateFin"/>
          <xs:element type="xs:string" name="dateDebut"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element type="ns1:TypeListeAnnonces" name="ListeAnnonces"/>
      <xs:complexType name="TypeListeAnnonces">
        <xs:sequence>
          <xs:element minOccurs="0" type="ns1:TypeAnnonce" name="Annonce" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="creerNouvelleAnnonce_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="contenu"/>
            <xs:element type="xs:string" name="dateFin"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="creerNouvelleAnnonce_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:int" name="nouvelleAnnonce_Id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="editerAnnonceExistante_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="ns1:TypeAnnonce" name="Annonce"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="editerAnnonceExistante_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:boolean" name="validation_OK"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="donnerAnnoncesExistantes_Request">
        <xs:complexType/>
      </xs:element>
      <xs:element name="donnerAnnoncesExistantes_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="ns1:TypeListeAnnonces" name="ListeAnnonces"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="fixerDateParution_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="dateParution"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="creerNouvelleAnnonce_Request_Message">
    <wsdl:part name="part1" element="ns1:creerNouvelleAnnonce_Request"/>
  </wsdl:message>
  <wsdl:message name="creerNouvelleAnnonce_Response_Message">
    <wsdl:part name="part1" element="ns1:creerNouvelleAnnonce_Response"/>
  </wsdl:message>
  <wsdl:message name="editerAnnonceExistante_Request_Message">
    <wsdl:part name="part1" element="ns1:editerAnnonceExistante_Request"/>
  </wsdl:message>
  <wsdl:message name="editerAnnonceExistante_Response_Message">
    <wsdl:part name="part1" element="ns1:editerAnnonceExistante_Response"/>
  </wsdl:message>
  <wsdl:message name="donnerAnnoncesExistantes_Request_Message">
    <wsdl:part name="part1" element="ns1:donnerAnnoncesExistantes_Request"/>
  </wsdl:message>
  <wsdl:message name="donnerAnnoncesExistantes_Response_Message">
    <wsdl:part name="part1" element="ns1:donnerAnnoncesExistantes_Response"/>
  </wsdl:message>
  <wsdl:message name="fixerDateParution_Request_Message">
    <wsdl:part name="part1" element="ns1:fixerDateParution_Request"/>
  </wsdl:message>
  <wsdl:portType name="ServiceAnnonce_PortType">
    <wsdl:operation name="creerNouvelleAnnonce">
      <wsdl:input message="tns:creerNouvelleAnnonce_Request_Message"/>
      <wsdl:output message="tns:creerNouvelleAnnonce_Response_Message"/>
    </wsdl:operation>
    <wsdl:operation name="editerAnnonceExistante">
      <wsdl:input message="tns:editerAnnonceExistante_Request_Message"/>
      <wsdl:output message="tns:editerAnnonceExistante_Response_Message"/>
    </wsdl:operation>
    <wsdl:operation name="donnerAnnoncesExistantes">
      <wsdl:input message="tns:donnerAnnoncesExistantes_Request_Message"/>
      <wsdl:output message="tns:donnerAnnoncesExistantes_Response_Message"/>
    </wsdl:operation>
    <wsdl:operation name="fixerDateParution">
      <wsdl:input message="tns:fixerDateParution_Request_Message"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceAnnonce_Binding" type="tns:ServiceAnnonce_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="creerNouvelleAnnonce">
      <soap:operation soapAction="creerNouvelleAnnonce" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.annonces.org/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.annonces.org/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editerAnnonceExistante">
      <soap:operation soapAction="editerAnnonceExistante" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.annonces.org/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.annonces.org/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="donnerAnnoncesExistantes">
      <soap:operation soapAction="donnerAnnoncesExistantes" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.annonces.org/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.annonces.org/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fixerDateParution">
      <soap:operation soapAction="fixerDateParution" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.annonces.org/"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAnnonce">
    <wsdl:port name="ServiceAnnonce_Port" binding="tns:ServiceAnnonce_Binding">
      <soap:address location="http://localhost:10000/axis2/services/ServiceAnnonce"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>